//
// CSS GLOBAL VARIABLES
// --------------------
//
// Global values to be used across all sass files.
// This file is imported via @import, to allow 
// for maintainability.
// 

//
// RESTRAINTS
// ----------
//
$MAX-WIDTH: 1200PX;


//
// MEDIA QUERIES
// -------------
// NOTE: These values should agree
// with those from the jsglobals file.
//
$TABLET: 600px;
$DESKTOP: 1024px;


//
// COLORS
// ------
//
$BACKGROUND: #181818;
$FOREGROUND: #e0e0e0;
$WHITE: #e0e0e0;


//
// NAVBAR
// ------
//
$NAVBAR_HEIGHT_M: 75px;
$NAVBAR_HEIGHT: 100px;
$NAVBAR_BOTTOM: 30px;
$NAVBAR_TOP: 50px;
$NAVBAR_TOTAL: $NAVBAR_HEIGHT + $NAVBAR_TOP + $NAVBAR_BOTTOM;
