@import './cssGlobalVars.scss';

/*
 * CSS GLOBAL STYLES
 * -----------------
 * 
 * This includes the styles for the pages that can be
 * accessed via the navbar as well as the html/body elements.
 * Font-faces are also defined here and some CSS defaults are 
 * removed for convenience.
*/


////////// DEFAULTS //////////

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

a { 
	color: aqua; 
	text-decoration: none; 
}

ul {
	list-style-type: none;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

////////// DEFAULTS //////////




////////// FONT FACES //////////

@font-face {
	font-family: Cormorant Garamond;
	src: url(CormorantGaramond-Medium.ttf);
}

@font-face {
	font-family: Cinzel;
	src: url(Cinzel-Regular.ttf);
}

////////// FONT FACES //////////




////////// BODY //////////

body {
	max-width: $MAX-WIDTH;
	margin: 0 auto;

	// Force all position absolute and fixed elements
	// to treat this as the parent.
	position: relative;

	background: $BACKGROUND;
	color: $FOREGROUND;

	font-size: 18px;
	font-family: 'Cormorant Garamond';
}

////////// BODY //////////




////////// INDEX //////////

// This is chosen to be an id rather than a
// class so that the padding here has enough
// css priveledge to override the padding given
// to every page.

#index {
	// No padding on home page. The svgs must
	// be allowed to reach the edge of the pages
	padding: 0;

	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

////////// INDEX //////////




////////// ABOUT/MEDIA //////////

.about, .media {
	p { margin: 20px 0; }
}

////////// ABOUT/MEDIA //////////




////////// FEATURES //////////

.features {
	h1 { margin-bottom: 10px; }
	p { margin-bottom: 30px; }
}

////////// FEATURES //////////




////////// CONTACT //////////

.contact {
	img {
		margin: auto;
		display: block;
	}
}

////////// CONTACT //////////




////////// LINKS //////////

.links {
	h1 { margin-bottom: 10px; }
	hr {
		width: 80%;
		margin: 20px 0;
	}
}

////////// LINKS //////////
