@import '../resources/cssglobals';

////////// MOBILE/BASE //////////

#index {
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.column {
	margin: 0 5%;
	display: flex;
	flex-direction: column;
}

.img {
	display: none;
}

.preview {
	width: 230px;
	padding: 10px 5px;
	margin: 20px 0;

	z-index: 1;

	background: rgba(190, 182, 165, 0.85);
	border: 3px solid rgb(76,50,22);
	border-radius: 3px;
	* { color: #202020; }
}

////////// MOBILE/BASE //////////




////////// TABLET //////////

@media only screen and (min-width: $TABLET) {

#index {
	flex-direction: row;
}

.column {
}

.img {
	width: 400px;

	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);

	display: block;
	opacity: 0.4;
}

}

////////// TABLET //////////
