@import '../resources/cssglobals.scss';


////////// TITLE //////////

.blah {
	margin-bottom: 10px;
	font-size: 30px;
	text-align: center;
}

////////// TITLE //////////


////////// VOCAB //////////

.vocab {
	text-decoration: underline;
	text-decoration-color: rgba(210, 210, 210, 0.5);
}

////////// VOCAB //////////




////////// VOCAB DEF //////////

.vocabdef {
	width: 90%;
	padding: 10px;

	position: fixed;
	top: 0; left: 50%;
	transform: translateX(-50%);

	display: none;

	border-radius: 3px;
	background: rgb(190, 182, 165);
	color: black;

	font-size: 20px;
	text-align: center;
}

////////// VOCAB DEF //////////
