// Globals
@import '../resources/cssglobals';

////////// WRAPPER //////////

// NOTE: The wrapper must be an id in order for
// the padding to replace the padding set
// in the .page > div selector

// NOTE: We need the title to appear at the top,
// which poses a problem since our wrapper
// needs 'flex-direction: row' for the tablet
// and desktop layouts. To fix this, we apply a
// padding to our wrapper and absolute position
// the title to take this space this must be padding, 
// as this class shares a div with the .page class, 
// which already has its own margin to account for
// the fixed navbar.
$TOP_PADDING: 70px;

#wrapper {
	padding-top: $TOP_PADDING;

	display: flex;
	flex-direction: column;
}

@media only screen and (min-width: $TABLET) {
	#wrapper {
		flex-direction: row;
		justify-content: center;
	}
}

////////// WRAPPER //////////




////////// TITLE //////////

.title {
	position: absolute;
	top: $TOP_PADDING / 2; left: 50%;
	transform: translate(-50%, -50%);

	font-size: 30px;
	font-family: 'Cinzel', serif;
}

////////// TITLE //////////




////////// IMG //////////

.img {
	display: none;
}

@media only screen and (min-width: $DESKTOP) {
	.img {
		height: 600px;
		display: block;
	}
}

////////// IMG //////////




////////// COLUMN //////////

.column {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

@media only screen and (min-width: $TABLET) {
	.column {
		margin: 0 30px;
	}
}

////////// COLUMN //////////




////////// LINK //////////

.link {
	width: 230px;
	padding: 10px;
	margin: 10px 0;

	border-radius: 3px;
	a { color: #202020; }
}

// Align tops of columns and img.
.link:first-child {
	margin-top: 0;
}

////////// LINK //////////
