// Globals
@import '../resources/cssglobals.scss';


////////// PAGE WRAPPERS //////////

.page {
	max-width: $MAX-WIDTH;
	margin-top: $NAVBAR_HEIGHT_M;
	margin-bottom: 50px;

	// The home page (index.js) must not be
	// allowed to have any padding and for index.js to be
	// able to override the current padding given to
	// every other page, it must be implemented one level
	// beneath the <Layout> level, hence why the padding 
	// is given to the direct children of the .page class.
	> div { padding: 0 6%; }
}

@media only screen and (min-width: $TABLET) {
	.page {
		margin-top: $NAVBAR_TOTAL + 20px;
	}
}

////////// PAGE WRAPPERS //////////




////////// CSSTRANSITION CLASSES //////////

.fade-enter {
	opacity: 0;
}

.fade-enter-active {
	opacity: 1;
	transition: all 300ms ease-out;
}

.fade-exit {
	opacity: 1;
}

.fade-exit-active {
	opacity: 0;
	transition: all 300ms ease-out;
}

////////// CSSTRANSITION CLASSES //////////
