// Globals
@import '../resources/cssglobals';


////////// NAVBAR //////////

#navbar {
	width: 100%;
	height: $NAVBAR_HEIGHT_M;

	// Need to specify max-width
	// here sinced element is fixed
	max-width: $MAX-WIDTH;

	position: fixed;
	top: 0;
	z-index: 5;

	display: flex;
	align-items: center;

	overflow: hidden;
	background: $BACKGROUND;
}

@media only screen and (min-width: $TABLET) {
	#navbar {
		height: $NAVBAR_TOTAL; // NOTE: border-sizing: border-box;
		padding-top: $NAVBAR_TOP;

		flex-direction: column;
	}
}


// Hide/Show Animation //
.hide { 
	animation: slideNavUp 250ms forwards;
}

.show {
	animation: slideNavDown 250ms forwards;
}

//@keyframes slideNavUp {
	//0% { top: 0%; }
	//90% { top: -70%; }
	//100% { top: -100%; }
//}
//
//@keyframes slideNavDown {
	//0% { top: -100%; }
	//70% { top: -10%; }
	//100% { top: 0%; }
//}

@keyframes slideNavUp {
	0% { transform: scale(1); }
	100% { transform: scale(0.7); }
}

@keyframes slideNavDown {
	0% { transform: scale(0.7); }
	100% { transform: scale(1); }
}

////////// NAVBAR //////////




////////// ICON //////////

// The total width of the icon, including margins. 
// This is needed to calculate the widths of the
// title and menu for the mobile layout, since they
// simply fill the remaining space.
//
// NOTE: We don't use css 'flex' on the title and
// menu, as they are absolutely positioned.

$ICON_WIDTH: 16%;


#icon {
	width: 9%;
	height: 40px;
	margin-left: 7%;
	z-index: 1;
	
	line {
		width: 40px;
		fill: none;
		stroke: #fff;
		transition: 250ms cubic-bezier(0.26, 0.73, 0.39, 0.97);
	}
}

@media only screen and (min-width: $TABLET) {
	#icon {
		display: none;
	}
}


// Icon transformation animation //
$line-transforms: (
	('0px, 9px', '13px, 13px', 45deg, 0.5, 4px),
	('8px, 20px', '20px, 20px', -45deg, 0.417, 4px),
	('15px, 31px', '20px, 20px', 135deg, 1, 2px),
);
	
@for $i from 1 through 3 {
	$line: nth($line-transforms, $i);
	
	#icon line:nth-child(#{$i}) {
		transform: translate(#{nth($line, 1)});
		stroke-width: 2px;
	}

	#icon.cross line:nth-child(#{$i}) {
		transform:
			translate(#{nth($line, 2)}) 
			rotate(#{nth($line, 3)}) 
			scale(#{nth($line, 4)});
		stroke-width: #{nth($line, 5)};
	}
}

////////// ICON //////////




////////// TITLE //////////

#title {
	width:  100% - $ICON_WIDTH;
	height: 100%;

	position: absolute;
	top: 0; right: 0;
	
	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 25px;
	font-family: 'Cinzel', serif;
}

@media only screen and (min-width: $TABLET) {
	#title {
		width: auto;
		height: auto;

		position: relative;
		top: auto; left: auto;
		transform: none;

		font-size: 45px;
	}
}


// Toggle menu animation: hide title //
#title.hideTitle {
	animation: slideTitleUp 250ms forwards;
}

#title.showTitle {
	animation: slideTitleDown 250ms forwards;
}

@keyframes slideTitleUp {
	0% { top: 0%; }
	50% { top: -90%; }
	100% { top: -100%; }
}

@keyframes slideTitleDown {
	0% { top: -100%; }
	20% { top: -90%; }
	100% { top: 0%; }
}

// Animations removed for tablet/desktop layout
@media only screen and (min-width: $TABLET) {
	#title.hideTitle, #title.showTitle {
		animation: none;
	}
}

////////// TITLE //////////




////////// MENU //////////

#menu {
	width: 100% - $ICON_WIDTH;
	height: 100%;

	position: absolute;
	top: 100%; right: 0;

	display: flex;
	align-items: center;

	overflow-x: auto;
	font-size: 25px;

	a {
		color: white;
	}

	li {
		// This must be padding! If this is
		// margin, then the last child will
		// have its right margin cutoff.
		padding: 0 10px;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.underline {
		width: 15px;
		border-color: $WHITE;
	}
}

@media only screen and (min-width: $TABLET) {
	#menu {
		width: 90%;
		height: auto;
		margin: auto;
		padding: 0;

		position: relative;
		top: auto;

		flex-direction: row;
		background: transparent;

		li {
			flex: auto;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.underline {
			display: none;
		}
	}
}


// Toggle menu animation: show menu //
#menu.hideMenu { 
	animation: slideMenuDown 250ms forwards;
}

#menu.showMenu {
	animation: slideMenuUp 250ms forwards;
}

@keyframes slideMenuDown {
	0% { top: 0; }
	50% { top: 90%; }
	100% { top: 100%; }
}

@keyframes slideMenuUp {
	0% { top: 100%; }
	50% { top: 10%; }
	100% { top: 0; }
}

// Animations removed for tablet/desktop layout
@media only screen and (min-width: $TABLET) {
	#menu.hideMenu, #menu.showMenu {
		animation: none;
	}
}

////////// MENU //////////




////////// HR //////////

.hr {
	display: none;
}

@media only screen and (min-width: $TABLET) {
	.hr {
		width: 90%;
		margin: 20px auto;
		display: block;
	}
}

////////// HR //////////
