@import '../resources/cssglobals';


////////// ICON //////////

.icon {
	width: 40px;
	height: 40px;
	margin: 15px;

	// Necessary to have the icon appear
	// above the navbarWrapper
	position: relative;
	
	line {
		fill: none;
		stroke: #fff;
		stroke-width: 2px;
	}
}

@media only screen and (min-width: $TABLET) {
	.icon {
		display: none;
	}
}

////////// ICON //////////




////////// MENU //////////

.menu {
	width: 100%;
	height: $NAVBAR_HEIGHT_M;

	position: absolute;
	top: 0; left: 0;

	display: flex;

	overflow: auto;
	background: rgba(20, 20, 20, 0.9);
	font-size: 25px;

	li {
		margin: 5px 10px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.divider {
		width: 15%;
		border-color: $WHITE;
	}
}

@media only screen and (min-width: $TABLET) {
	.links {
		width: 85%;
		height: auto;
		margin: auto;
		padding: 0;

		/* required for 'margin: auto' to center */
		position: relative;
		flex-direction: row;
		background: transparent;

		a {
			flex: auto;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.divider {
			display: none;
		}
	}
}

////////// MENU //////////




////////// TITLE //////////

.title {
	font-size: 45px;
	text-align: center;
	font-family: 'Cinzel', serif;
}

////////// TITLE //////////




////////// NAVBAR //////////

.navbar {
	width: 100%;
	height: $NAVBAR_HEIGHT_M;
	max-width: $MAX-WIDTH;
	position: fixed;
	z-index: 5;
	background: $BACKGROUND;
}

@media only screen and (min-width: $TABLET) {
	.navbar {
		height: $NAVBAR_HEIGHT; // also accounts for padding
		margin: $NAVBAR_TOP 0 $NAVBAR_BOTTOM;
	}
}


////////// NAVBAR //////////




////////// EXTRA //////////

.none {
	display: none;
}

.hide { 
	animation: hide 250ms forwards;
}

.show {
	animation: show 250ms forwards;
}

@keyframes hide {
	0% { top: 0; }
	30% { top: -10%; }
	100% { top: -100%; }
}

@keyframes show {
	0% { top: -100%; }
	30% { top: -10%; }
	100% { top: 0; }
}

////////// EXTRA //////////
