// Globals
@import '../resources/cssGlobalVars';


////////// NAVBAR //////////

#navbar {
	width: 100%;
	height: $NAVBAR_HEIGHT_M;

	// Need to specify max-width
	// here sinced element is fixed
	max-width: $MAX-WIDTH;

	position: fixed;
	top: 0;
	z-index: 5;

	display: flex;
	align-items: center;

	overflow: hidden;
	background: $BACKGROUND;
	transition: 350ms cubic-bezier(0.04, 1.08, 0.49, 0.99);

	// This combined with the opacity adjustments in the TABLET
	// media query below are necessary to prevent all navbar children 
	// from becoming immediately visible on hover when the navbar is
	// hidden (makes the transition a little smoother)
	> * { transition: 350ms cubic-bezier(0.04, 1.08, 0.49, 0.99); }
}

@media only screen and (min-width: $TABLET) {
	#navbar {
		height: $NAVBAR_TOTAL; // NOTE: border-sizing: border-box;
		padding-top: $NAVBAR_TOP;
		flex-direction: column;
	}
}


// Hide/Show Animations //
#navbar.hideNav { 
	top: -100%;
}

#navbar.showNav {
	top: 0;
}

@media only screen and (min-width: $TABLET) {
	#navbar.hideNav {
		width: 80px;
		height: 80px;

		// Align the collapsed icon with the edge of
		// <hr> element to prevent having the icon look
		// somewhat offset
		margin-left: 5%;

		top: 20px;
		// Make navbar appear above books (index.js) but
		// above vocabdefs (ChapterTest.js)
		z-index: 2;

		border: 2px solid white;
		border-radius: 50px;

		> * { opacity: 0; }

		.icon { 
			width: 50px;
			height: 50px;
			margin: 0;

			position: absolute;
			top: 50%; left: 50%;

			display: block; 
			transform: translate(-50%, -50%);
			opacity: 1;
		}
	}
}

// Explicitly set margin-left for alignment once
// the max-width is reached, else the margin-left: 5%
// from above will continue to push the minimized
/// navbar further to the right
@media only screen and (min-width: $MAX-WIDTH) {
	#navbar.hideNav {
		margin-left: 60px;
	}
}

////////// NAVBAR //////////




////////// ICON //////////

// The total width of the icon, including margins. 
// This is needed to calculate the widths of the
// title and menu for the mobile layout, since they
// simply fill the remaining space.
//
// NOTE: We don't use css 'flex' on the title and
// menu, as they are absolutely positioned.

$ICON_WIDTH: 16%;


.icon {
	width: 9%;
	height: 40px;
	margin-left: 7%;
	z-index: 1;
	
	line {
		width: 40px;
		fill: none;
		stroke: #fff;
		transition: 250ms cubic-bezier(0.26, 0.73, 0.39, 0.97);
	}
}

@media only screen and (min-width: $TABLET) {
	.icon {
		display: none;
	}
}


// Icon transformation animation //
$line-transforms: (
	('0px, 9px', '13px, 13px', 45deg, 0.5, 4px),
	('8px, 20px', '20px, 20px', -45deg, 0.417, 4px),
	('15px, 31px', '20px, 20px', 135deg, 1, 2px),
);
	
@for $i from 1 through 3 {
	$line: nth($line-transforms, $i);
	
	.icon line:nth-child(#{$i}) {
		transform: translate(#{nth($line, 1)});
		stroke-width: 2px;
	}

	.icon.cross line:nth-child(#{$i}) {
		transform:
			translate(#{nth($line, 2)}) 
			rotate(#{nth($line, 3)}) 
			scale(#{nth($line, 4)});
		stroke-width: #{nth($line, 5)};
	}
}

////////// ICON //////////




////////// TITLE //////////

.title {
	width:  100% - $ICON_WIDTH;
	height: 100%;

	position: absolute;
	top: 0; right: 0;
	
	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 25px;
	font-family: Cinzel;
}

@media only screen and (min-width: $TABLET) {
	.title {
		width: auto;
		height: auto;

		position: relative;
		top: auto; left: auto;
		transform: none;

		font-size: 45px;
	}
}


// Toggle menu animation: hide title //
.title.hideTitle {
	animation: slideTitleUp 250ms forwards;
}

.title.showTitle {
	animation: slideTitleDown 250ms forwards;
}

@keyframes slideTitleUp {
	0% { top: 0%; }
	50% { top: -90%; }
	100% { top: -100%; }
}

@keyframes slideTitleDown {
	0% { top: -100%; }
	20% { top: -90%; }
	100% { top: 0%; }
}

// Animations removed for tablet/desktop layout
@media only screen and (min-width: $TABLET) {
	.title.hideTitle, .title.showTitle {
		animation: none;
	}
}

////////// TITLE //////////




////////// MENU //////////

.menu {
	width: 100% - $ICON_WIDTH;
	height: 100%;

	position: absolute;
	top: 100%; right: 0;

	display: flex;
	align-items: center;

	overflow-x: auto;
	font-size: 25px;

	a {
		color: white;
	}

	li {
		// This must be padding! If this is
		// margin, then the last child will
		// have its right margin cutoff.
		padding: 0 10px;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.underline {
		width: 15px;
		border-color: $FOREGROUND;
	}
}

@media only screen and (min-width: $TABLET) {
	.menu {
		width: 90%;
		height: auto;
		margin: auto;
		padding: 0;

		position: relative;
		top: auto;

		flex-direction: row;
		background: transparent;

		// Necessary to prevent scrollbar from
		// showing in navShow animation for tablet/desktop
		overflow: hidden;

		li {
			flex: auto;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.underline {
			display: none;
		}
	}
}


// Toggle menu animation: show menu //
.menu.hideMenu { 
	animation: slideMenuDown 250ms forwards;
}

.menu.showMenu {
	animation: slideMenuUp 250ms forwards;
}

@keyframes slideMenuDown {
	0% { top: 0; }
	50% { top: 90%; }
	100% { top: 100%; }
}

@keyframes slideMenuUp {
	0% { top: 100%; }
	50% { top: 10%; }
	100% { top: 0; }
}

// Animations removed for tablet/desktop layout
@media only screen and (min-width: $TABLET) {
	.menu.hideMenu, .menu.showMenu {
		animation: none;
	}
}

////////// MENU //////////




////////// HR //////////

.hr {
	display: none;
}

@media only screen and (min-width: $TABLET) {
	.hr {
		width: 90%;
		margin: 20px auto;
		display: block;
	}
}

////////// HR //////////
