////////// STUDY GUIDE //////////

.studyguide {
	// Study guide title
	h1 {
		margin: 20px;
		font-size: 35px;
		text-align: center;
	}

	// Section titles
	h2 {
		margin: 20px 0;
		font-size: 30px;
		text-align: center;
	}

	p {
		margin: 20px 0;
	}
}

////////// STUDY GUIDE //////////




////////// VOCABULARY //////////

.vocabstudy {
	width: 100%;
	display: block;
	text-align: center;
}

////////// VOCABULARY //////////
