.study_guide_title {
	margin: 20px;
	font-size: 35px;
	text-align: center;
}

.section {
	margin: 20px 0;
	font-size: 30px;
	text-align: center;
}

.vocabstudy {
	width: 100%;
	display: block;
	text-align: center;
}
