////////// STUDY GUIDE TITLE //////////

.study_guide_title {
	margin: 20px;
	font-size: 35px;
	text-align: center;
}

////////// STUDY GUIDE TITLE //////////




////////// SECTION TITLE //////////

.section {
	margin: 20px 0;
	font-size: 30px;
	text-align: center;
}

////////// SECTION TITLE //////////




////////// VOCABULARY //////////

.vocabstudy {
	width: 100%;
	display: block;
	text-align: center;
}

////////// VOCABULARY //////////
