////////// REMOVE DEFAULTS //////////

h1 {
    font-weight: normal;
}

a { 
	color: white; 
	text-decoration: none; 
}

ul {
	margin: 0 ;
	padding: 0;
	list-style-type: none;
}

body, {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

////////// REMOVE DEFAULTS //////////




html, body {
	width: 100% ;
	min-height: 100vh;

	background: linear-gradient(#020202, #242424) fixed;
	color: white;
	font-family: 'Cormorant Garamond', serif;
}
