@import './resources/cssglobals.scss';


////////// DEFAULTS //////////

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

a { 
	color: white; 
	text-decoration: none; 
}

ul {
	list-style-type: none;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

////////// DEFAULTS //////////




////////// HTML/BODY //////////

html, body {
	width: 100% ;
	min-height: 100vh;

	background: $BACKGROUND;
	color: $FOREGROUND;

	font-family: 'Cormorant Garamond', serif;
	font-size: 18px;
}

////////// HTML/BODY //////////




////////// PAGE WRAPPERS //////////

.page {
	// Absolute position to allow smooth transitions
	// when both dom elements are present (For
	// transitions done with <CSSTransition>).
	position: absolute;
}

////////// PAGE WRAPPERS //////////




////////// CSSTRANSITION CLASSES //////////

.fade-enter {
	opacity: 0;
}

.fade-enter-active {
	opacity: 1;
  transition: opacity 300ms ease-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 100ms ease-out;
}

////////// CSSTRANSITION CLASSES //////////
